p {
    color: #33FFCC;
    background-color: #004400;



}

body {
  margin: 0;
  color: #f0f8ff;
  width: 100vw;
  height: 100vh;
  background-color:#696969;
}

P { text-align: center }

H2 { text-align: center }
